/* add yellow border to all elements */
/* * { 
  border: 0.1px solid yellow;
} */

body {
  margin: 0;
  background-color: #1c1d22;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-logo {
  height: 4px;
  pointer-events: none;
}

.app-container {
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  min-width: none;

  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.normal-link {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 100%;
  min-width: 100%;
  background-color: #8a41bb;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
}

.navbar-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  color: white;
  border-radius: 10px;
}

.navbar-item:hover {
  /* background-color: #61dafb; */
  color: black;
  cursor: pointer;
}

.navbar-item:hover p {
  color: black;
}

.navbar-item:hover a {
  color: black;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #61dafb;
}

.beatmap-card {
  background-color: #55585e;
  color: white;
  margin: 10px 0px 0px 0px;
  /* padding: 10px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-height: 250px;
  cursor: pointer;
}

.beatmap-card > img {
  width: 100%;
  filter: brightness(50%);
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.beatmap-card > .beatmap-card-info {
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  text-shadow: #1c1d22 0px 0px 10px;
}

.beatmap-card > .beatmap-mapper {
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  text-shadow: #1c1d22 0px 0px 10px;
}

.beatmap-card-info > .beatmap-difficulties-row {
  /* position: absolute; */
  color: white;
  /* left: 10px;
  top: 70px; */
  text-shadow: #1c1d22 0px 0px 10px;
}

.beatmap-card-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.beatmap-difficulties-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #55585ebe;
  align-items: center;
  width: auto;
  margin: 0;
  padding: 0px;
  border-radius: 10px;
  margin-left: 10px;
}

.beatmap-difficulty-icon {
  width: 50px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beatmap-difficulty-icon:hover {
  box-sizing: border-box;
  background-color: #55585ee5;
  border-radius: 9px;
  border: rgba(255, 255, 255, 0.9) 3px solid;
}

.beatmap-difficulty-selected {
  box-sizing: border-box;
  background-color: #55585eef;
  border-radius: 9px;
  border: rgba(255, 255, 255, 0.9) 3px solid;
}

.beatmap-card:hover {
  background-color: #61dafb;
  color: black;
}

.beatmap-card h3 {
  margin: 0;
}

.beatmap-card p {
  margin: 0;
}

.beatmap-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.beatmap-item {
  box-sizing: border-box;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* horizontal center */
  /* margin: 10px 10px 10px 10px; */

  border-radius: 4px; /* Styling */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out; /* Animation */
}

.beatmap-thumbnail {
  display: flex;
  justify-content: space-between;
  color: rgb(59, 16, 16);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;
}

.beatmap-thumbnail > .beatmap-title {
  position: absolute;
  left: 0;
  bottom: 0;
  text-shadow: #1c1d22 0px 0px 10px;
}

.beatmap-thumbnail > .beatmap-difficulty {
  position: absolute;
  right: 0;
  bottom: 0;
  text-shadow: #1c1d22 0px 0px 8px;
}

.beatmap-thumbnail > img {
  filter: brightness(50%);
  min-width: 100%;
  min-height: 100%;
}

.beatmap-title {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2rem;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0;
}

.beatmap-difficulty {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.beatmap-mapper {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.snipe-item {
  position: relative;
  margin: 10px 0px 0px 0px;
}

.beatmap-snipe {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  /* line-height: 1; */
  font-weight: 600;
}

.snipe-item > .beatmap-snipe {
  margin: 10px 0px 0px 0px;
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: #1c1d22 0px 0px 3px;
}

.beatmap-item a {
  color: white;
  text-decoration: none;
}

.beatmap-item a:hover {
  color: #61dafb;
}

.beatmap-item p {
  margin: 0;
}

.beatmap-item p:first-child {
  margin-right: 10px;
}

.beatmap-item p:last-child {
  margin-left: 10px;
}

.beatmap-item:hover {
  background-color: #61dafb;
  color: black;
  cursor: pointer;
  box-shadow: 0 0px 38px 3px rgba(212, 48, 190, 0.377),
    0 0px 46px 8px rgba(212, 48, 190, 0.377),
    0 0px 15px -7px rgba(212, 48, 190, 0.377);
}

.beatmap-item:hover p {
  color: black;
}

.beatmap-item:hover a {
  color: black;
}
